<section class="container contact" id="contact">
  <div class="contact-container">
      <div class="main-title" style="margin-bottom: 100px;">
          <h2>Contactez <span>Moi</span><span class="bg-text">Contact</span></h2>
      </div>
      <div class="contact-content-con">
          <div class="left-contact" style="padding-top: 20px;">
              <div class="contact-info">
                  <div class="contact-item">
                      <div class="icon">
                          <i class="fas fa-map-marker-alt"></i>
                          <span>Adresse</span>
                      </div>
                      <p>
                         Lot IJJ 1294 Ambavahaditokana Itaosy<br> Antananarivo Madagascar
                      </p>
                  </div>
                  <div class="contact-item">
                      <div class="icon">
                          <i class="fas fa-envelope"></i>
                          <span>Mail</span>
                      </div>
                      <p>
                          <span><a href="mailto:tojoramaroson5@gmail.com">tojoramaroson5@gmail.com</a></span>
                      </p>
                  </div>
                  <div class="contact-item">
                      <div class="icon">
                          <i class="fas fa-phone"></i>
                          <span>Téléphone</span>
                      </div>
                      <p>
                          <span><a href="tel:0342955249">034 29 552 49</a></span>
                      </p>
                  </div>
              </div>
              <div class="contact-icons">
                  <div class="contact-icon">
                      <a href="https://web.facebook.com/tjo.ramaroson" target="_blank">
                          <i class="fab fa-facebook-f"></i>
                      </a>
                      <a href="https://github.com/Jute-tojo" target="_blank">
                          <i class="fab fa-github"></i>
                      </a>
                      <a href="https://gitlab.com/tojojute" target="_blank">
                        <i class="fab fa-gitlab"></i>
                    </a>
                      <a href="mailto:tojoramaroson5@gmail.com" target="_blank">
                          <i class="fab fa-google"></i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
