<section class="container" id="portfolio">
  <div class="main-title">
      <h2>Mon <span>Portfolio</span><span class="bg-text">Mon Portfolio</span></h2>
  </div>
  <p class="port-text">

  </p>
  <div class="portfolios">
      <div class="portfolio-item" *ngFor="let item of portfolio; let i = index">
          <div class="image">
              <img [src]="'assets/portfolio/'+item['images'][0]" alt="">
          </div>
          <div class="hover-items" (click)="open(i)">
              <h3>{{ item['title'] }}</h3>
              <div class="description">
                VOIR PROJET
              </div>
              <div>
                <b>{{item['tech']}}</b>
              </div>
          </div>
      </div>
    <!-- <div class="portfolio-item">
      <div class="image">
          <img src="assets/portfolio/inona.png" alt="">
      </div>
      <div class="hover-items">
          <h3>Inona ?</h3>
          <div class="icons">
            <a href="https://github.com/Jute-tojo" target="_blank" class="icon">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://web.facebook.com/tjo.ramaroson" class="icon">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="mailto:tojoramaroson5@gmail.com" class="icon">
                <i class="fab fa-google"></i>
            </a>
          </div>
          <div class="description">
            <p> Application web pour crypter des données</p>
        </div>
      </div>
  </div> -->
  </div>
</section>
